# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Jupyter (optional)
.ipynb_checkpoints/

# Build
dist/
build/

# Misc
*.sqlite3